@import '~antd/dist/antd.css';

body{
    overflow-y: none;
}

#root{
  height: 100%;
}

td  , p{
    color: black;

}
.container-fluid{
    padding-left: .5em !important;
    padding-right: .5em !important;
}

.MuiButton-label-2{
    font-size: 1em;
}

.menu-general{
    background: #FFD600;
    border-radius: .25rem;
    height: 50em;
    width: 22% !important;
    align-content: center !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: .5em !important;
    bottom: -.5em;
    padding: 4em;
}

.menu-nav{
    margin-top: 10%;

}
.menu-regreso{
    height: 6em !important;
}

.menu-opciones{
    padding-top: 1em;
}

.segundo-bloque{
    width: 76.5% !important;
    position: relative !important;
    bottom: 49.5em;
    left: 23.1%;
}

.user{
    margin-top: -38em;
    bottom: 0em;
}

.barra-segundoBloque {
    height: 4em !important;
}


.tercer-bloque{
    width: 75% !important;
    /* height: 5em; */
    /* position: absolute !important; */
    /* display: block; */
    bottom: 48em;
    left: 10%;
}
.filtrer-time{
    margin-left: 1em;
    padding-top: 1.5em;
}

.btn-agendar{
    background: #9C27B0 !important;
    height: 2.5em !important;
    width: 100% !important;
    font-size: 2em !important;
}
.cuarto-bloque{
    width: 77.5% !important;
    margin-top: -47em;
    left: 11.5%;

}


.cuarto-bloqueBooks{
    margin-top: -53em;
    margin-right: 10%;
    padding-top: 7em;
    /* padding-bottom: 60%; */
    position: static;
    margin-bottom: -7em;
    margin-left: 9%;
}

.tarjetas-users {
    left: 78%;
    bottom: -14%;
    position: absolute;
}

.quinto-bloque{
    margin-left: 23%;
    width: 76.5% !important;
}

th{
    border-color:black !important;    
}
td{
    background: white !important;
    border-color: gray !important;
    height: 49px !important;
}

.table-color{
    background: #9C27B0;
    
}

.table{
    width: none !important;
}

.main{
    width: 20% !important;
    text-align: center;
}

.MuiButton-label-66{
    font-size: 2em !important;    
}

.btn-atras{
    background: #9C27B0 !important;
    color: white !important;
    height: 1.7em;
    width: 20%;
    font-size: 2em !important;
}
.btn-siguiente{
    background: #9C27B0 !important;
    color: white !important;
    height: 1.7em;
    width: 20%;
    font-size: 2em !important;
}

.entrada-busqueda{
    height: 4.5em;
    border-radius: .50rem;
    border-color: rgb(150, 150, 150);
    margin-top: 3px;
    box-shadow: 0px 0px 15px rgb(41, 39, 39);    
}

.filtrer-time {
    margin-left: 5%;
}
.btn-busqueda{
    background: #9C27B0 !important;
    color: white !important;
    height: 5.5em;
    width: 20%;
    bottom: 5.8em;
}


.iconoPDF{
    width: 5.2em;
    margin-left: 1em;
}

.btn-pdf{
    margin-left: 50em;
    background: red;
}
.espacioPDF {
    padding-left: 6%;
    padding-right: 2%;
}
.btn-link{
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}
.arrow{
    width: 60%;
}

.fondo-perfil{
    height: 6.5em !important;
    width: 117% !important;
    margin-left: -9% !important;
    max-width: none !important;
}

.image-perfil{
    left: 1em;
    width: 30% !important;
    height: 30% !important;
    top: -4em;
}

.datos-usuario{
    margin-top: -10em;
    padding-left: 7em;
}

.icono-lista{
    height: 30px;
    margin-right: 1em;
}

.sub-menu{
    display: block;
    padding: 0px 3.5rem;
    margin-top: 5%;
}

.fondo-biblioteca{
    background-image: url('./img/background-home.jpg');
    background-repeat: no-repeat;
    background-size: cover
}

.options{
    padding-top: 1.5em;
}

.btn-download{
    background: #9f28b3 !important;
    color: white !important;
    /* height: 5.5em; */
    width: 100%;
    /* bottom: 5.8em; */
    margin-top: 2em !important;
    font-size: 20px !important;
}

.entrada-busqueda-books{
    height: 4.5em;
    width: 70%;
    border-radius: .50rem;
    border-color: rgb(150, 150, 150);
    -webkit-box-shadow: 0px 0px 15px rgb(41, 39, 39);
    box-shadow: 0px 0px 15px rgb(41, 39, 39);
}
.bloque-HistorialPrestamos{
    height: 4.5em;
    margin: -.5%;
    width: 77%;
    border-radius: .50rem;
    border-color: rgb(150, 150, 150);
    margin-top: 3px;
    -webkit-box-shadow: 0px 0px 15px rgb(41, 39, 39);
    box-shadow: 0px 0px 15px rgb(41, 39, 39);
}


.btn-agendar-books{
    background: #9C27B0 !important;
    height: 3.8em !important;
    width: 15.5em !important;
    left: 1.2em;
    font-size: 20px !important;
}

.contenedor-usuario{
    margin-top: -44em;
    /* position: absolute; */
    margin-left: 20.5em !important;
    
}

.tarjeta-user-1, .tarjeta-user-2{
    border-radius: 3.5em !important;
    margin-left: 5% !important;
    width: 50% !important;
    max-height: 50% !important;
    -webkit-box-shadow: 0px 0px 15px rgb(41, 39, 39);
    box-shadow: 0px 0px 15px rgb(41, 39, 39);
}


.background-purple{
    background: #9C27B0;
    z-index: 999;
}
.titulo-tarjeta{
    background: #9C27B0;
}

.fondo-login{
    width: 100%;
    height: 50.5em;
}

.card-login{
    background: #6200EA;
    height: 46em;
    position: absolute;
    margin-top: -48em !important;
    width: 60%;
    box-shadow: 0px 0px 15px rgb(41, 39, 39);
}

.contenedor-login{
    align-self: start;
    /* align-content: center; */
    margin-top : - 51%;
    /* margin-right: 13%; */
    position: relative;
    max-width: 50% !important;
    /* height: 9em !important; */
    margin-left: 35%;
}
    

.tarjeta-icons{
        /* margin-top: 2em !important; */
    /* margin-left: -13%; */
    width: 50%;
    /* position: fixed; */
}

.tarjeta-title{
    height: 3em !important;
    box-shadow: 0px 0px 15px rgb(41, 39, 39);
}

.title-title{
    font-size: 4em;
    /* position: unset; */
}
.containerUsers {
    margin-top: 4%;
    max-width: 100%;
}
.contenedor-title {
    position: absolute;
}

.form-login{
    padding-top: 15%;
    padding-left: 13%;
   
}

.MuiFormLabel-root-13 {
    color: rgb(255, 255, 255) !important;
    font-size: 25px !important;
}

.MuiInput-root-18 {
    color: rgba(255, 255, 255, 0.87) !important;
    font-size: 30px !important;
    
    line-height: 2.1875em !important;
}

.MuiInput-input-26 {
    color: white !important;
}

.MuiInput-underline-22:after {
    border-bottom: 2px solid #ffffff !important;

}

.MuiInput-underline-22:before {
    border-bottom: 1px solid rgb(255, 255, 255) !important;
}

.btn-form{
    margin-top: 15%;
    margin-left: 10%;
}

.btn-btn-form{
    background: #6200EA !important;
    border: 4px solid rgb(255, 255, 255) !important;
    color: white !important;
    font-size: 20px !important;
    width: 12em !important;
}
.title-form{
    font-size: 49px;
    color: white;
    /* text-align: center; */
    padding-bottom: 29px;
    /* width: 7em !important; */
}


.card-loginAlumno{
    height: 41.5em !important;
    position: relative !important;
    margin-top: -43.5em !important;
    width: 70% !important;
}



.segundo-bloqueAlumno{
    position: absolute !important;
    bottom: 45.6em !important;
    left: 22%;

}

.title-formAlumno{
    padding-bottom: 0 !important;
    padding-left: 0% !important;
}

.form-loginAlumno{
    padding-top: 2.4% !important;
    padding-left: 13%;
}

.contenedor-loginAlumno{
    margin-bottom: 5em;
    margin-left: 45%;
}

.linkEstilos{
    color: white;
    transition: white 3s;
}

.btn-formAlumno{
    margin-top: -20% !important;
}

.MuiFormControl-root-68 {
    padding:0 !important; 
}

.MuiInput-root-82{
    color: rgb(255, 255, 255) !important;
    font-size: 35px !important;
    line-height: 2.1875em !important;
}

.MuiFormLabel-root-77{
    color: rgb(255, 255, 255) !important;
    font-size: 25px !important;
    line-height: 2.1875em !important;
}
.MuiInput-underline-86:after {
    border-bottom: 2px solid #ffffff !important;
}  

.MuiInput-underline-86:before{
    border-bottom: 1px solid rgb(255, 255, 255) !important;
}

.MuiInput-input-90 {
    padding: 5px 0 0px !important;
}



.segundo-bloqueMaestro {
    position: absolute !important;
    bottom: 45.6em !important;
    left: 23%;
    width: 77% !important;
}

.formAlumno {
    margin-top: 0em;
    margin-bottom: 6em;
}

.hola{
    width: 70% !important;
}

.hello-hi {
    color: white !important;
    padding: 0 !important;
    font-size: 30px !important;
    line-height: 0 !important;
}

.hello-entrada {
    font-size: 25px !important;
    color: white !important;
    line-height: 2.1875em !important;
    margin-top: 0px !important;
    border-bottom: 6px solid white !important;
    border-bottom: 2px solid #ffffff !important;
}




.contenedor-loginPrestamo {
    
    -ms-flex-item-align: start;
    /* align-self: start; */
    /* margin-right: 13%; */
    position: fixed;
    white-space: pre-wrap;
    max-width: 100% !important;
    /* height: 9em !important; */
    margin-left: 0% !important;
    left: 23.5em;
}

.contenedor-loginPrestamoBooks {
    max-width: 100% !important;
    left: -3% !important;
    align-self: start;
    position: relative;
    margin-left: 35%;
}

.FooterTrianguloLeft{
    margin-top: -80%;
    width: 50%;
    background: #fefe;
    -webkit-clip-path: polygon(0 60%, 0% 100%, 100% 100%);
    clip-path: polygon(0 60%, 0% 100%, 100% 100%);
}
.FooterTrianguloRight{
    margin-top: -74%;
    width: 50%;
    background: #fefe;
    -webkit-clip-path: polygon(100% 57%, 0% 100%, 100% 100%);
    clip-path: polygon(100% 57%, 0% 100%, 100% 100%);
}

.containerDOS {
    margin-left: -15%;
    margin-top: 30.2%;
}

.title-formPrestamoBooks{
    padding-bottom: 0 !important;
    font-size: 49px;
    color: white;
}

.segundo-bloqueMaestroBooks{
    position: absolute !important;
    bottom: 90.5% !important;
    left: 24%;
    width: 74.5% !important;

}

.btn-btnPrestamosRegisterBooks {
    background: #6200EA !important;
    border: 4px solid rgb(255, 255, 255) !important;
    color: white !important;
    font-size: 20px !important;
    width: 12em !important;
}

.card-loginRegisterBooks {
    background: #6200EA;
    margin-top: -76%!important;
    width: 90% !important;
    box-shadow: 0px 0px 15px rgb(41, 39, 39);
}


.holaPrestamo{
    margin: 1% !important;
    position: relative;
    width: 48% !important;
}

.hello-hiPrestamo {
    color: white !important;
    padding: 0 !important;
    font-size: 28px !important;
    line-height: 0 !important;
}

.hello-entradaPrestamo {
    font-size: 20px !important;
    color: white !important;
    /* line-height: 2.1875em !important; */
    margin-top: 13px !important;
    margin-right: 3em;
    border-bottom: 6px solid white !important;
    border-bottom: 2px solid #ffffff !important;
}

.hello-nameError{
    color: white !important;
}

.title-formPrestamo{
    padding-bottom: 0 !important;
    padding-left: 14% !important;
}

.btn-btnPrestamos{
    background: white!important;
    border: 4px solid rgb(255, 255, 255) !important;
    color: black !important;
    font-size: 20px !important;
    width: 12em !important;
}





   .btn-prestamo{
/* margin-top: 15%; */
margin-left: 21.8%;
   } 

   .card-loginPrestamo {
    height: 41.5em !important;
    position: fixed;
    margin-top: -43.5em !important;
    width: 70% !important;
}


.card {
    /* position: relative; */
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-direction: column;
    /* flex-direction: column; */
    /* min-width: 0; */
    /* word-wrap: break-word; */
    /* background-color: #fff; */
    /* background-clip: border-box; */
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}







.tarjeta-iconsPrestamo{
    margin-top: .5em !important;
    margin-left: -5%;
    width: 25%;
    
}

.tarjeta-user-1Prestamos, .tarjeta-user-2Prestamos {
    border-radius: 3.5em !important;
    width: 18.5em !important;
    height: 12em !important;
}

.tarjeta-user-2Prestamos {
    margin-top: 1em;
}

.titulo-tarjetaUno{
    background: #FFD600;
    color: black;
    font-size: 30px;
    height: 100%;

}

.titulo-tarjetaDos{
    background: #FFD600;
    color:black;
}

.tarjeta-user-3Prestamos {
    border-radius: 3.5em !important;
    width: 18.5em !important;
    bottom: 6.7em !important;
    margin-top: 1em;
    height: 12em !important;
}

.btn-agendar-booksPrestamos {
    background: #9C27B0 !important;
    height: 3.8em !important;
    width: 80% !important;
    left: 4.5%;
    font-size: 20px !important;
}


.entrada-busqueda-booksPrestados {
    width: 75%;
}

.tarjeta-iconsPrestamo{
    margin-top: .3em !important;
    margin-left: -5%;
    width: 32%;
}

.tarjeta-iconsPrestamoDos{
    margin-top: .3em !important;
    margin-left: -5%;
    width: 76%;
}

.ant-table-thead > tr > th{
    background: #9C27B0;
    color: white;
}

.cuarto-bloqueBook{
    width: 76% !important;
    margin-top: -47em;
    margin-left: 22.7%;
}

.FooterTrianguloLeftEstante {
    margin-top: -73%;
    height: 81.8%;
    width: 100%;
    background: #fefe;
    -webkit-clip-path: polygon(0 60%, 0% 100%, 100% 100%);
    clip-path: polygon(0 60%, 0% 100%, 100% 100%);
}

.btn-registerEstante{
    margin-top: -20% !important;
    margin-left: 10%;
}

.hello-entradaregisterEstante {
    font-size: 25px !important;
    color: white !important;
    line-height: 1.1875em !important;
    margin-top: 5.5% !important;
    border-bottom: 2px solid #ffffff !important;
}
.contenedor-loginRegisterEstante {
    margin-left: 45%;
    position: relative;
    max-width: 50% !important;
    top: 0em;
}

.FooterTrianguloLeftMaestro {
    margin-top: -61%;
    height: 81.8%;
    width: 100%;
    background: #fefe;
    -webkit-clip-path: polygon(0 60%, 0% 100%, 100% 100%);
    clip-path: polygon(0 60%, 0% 100%, 100% 100%);
}

.FooterTrianguloLeftAlumno {
    margin-top: -73%;
    height: 81.8%;
    width: 100%;
    background: #fefe;
    -webkit-clip-path: polygon(0 60%, 0% 100%, 100% 100%);
    clip-path: polygon(0 60%, 0% 100%, 100% 100%);
}

.card-loginMaestro {
    height: 41.5em !important;
    position: relative !important;
    top: 3em;
    width: 70% !important;
    background: #6200EA;
    margin-top: -50em !important;
    -webkit-box-shadow: 0px 0px 15px rgb(41, 39, 39);
    box-shadow: 0px 0px 15px rgb(41, 39, 39);
}
.card-loginAlumno {
    height: 41.5em !important;
    position: relative !important;
    top: 3em;
    width: 70% !important;
    background: #6200EA;
    margin-top: -50em !important;
    -webkit-box-shadow: 0px 0px 15px rgb(41, 39, 39);
    box-shadow: 0px 0px 15px rgb(41, 39, 39);
}

.hello-entradaregisterMaestro {
    font-size: 25px !important;
    color: white !important;
    line-height: 1.1875em !important;
    margin-top: 5.5% !important;
    border-bottom: 2px solid #ffffff !important;
}
.hello-entradaregisterAlumno {
    font-size: 25px !important;
    color: white !important;
    line-height: 1.1875em !important;
    margin-top: 5.5% !important;
    border-bottom: 2px solid #ffffff !important;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(255, 255, 255) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

.hello-entradaregisterProyector{
    font-size: 25px !important;
    color: white !important;
    line-height: 1.1875em !important;
    margin-top: 5.5% !important;
    border-bottom: 2px solid #ffffff !important;
}

.btn-registerProyector{
    margin-top: 5% !important;
    margin-left: 24%;
}
.FooterTrianguloLeftProyector{
    margin-top: -95%;
    height: 81.8%;
    width: 100%;
    background: #fefe;
    -webkit-clip-path: polygon(0 60%, 0% 100%, 100% 100%);
    clip-path: polygon(0 60%, 0% 100%, 100% 100%);
}
.title-formProyector{
    text-align: center;
    font-size: 49px;
    color: white;
}
.holaProyector {
    width: 100% !important;
}

.AgregarProyector {
    width: 6%;
    float: right;
    margin-left: 20em;
}
.btn-btnPrestamosRegisterProyector {
    background: #6200EA !important;
    border: 4px solid rgb(255, 255, 255) !important;
    color: white !important;
    font-size: 20px !important;
    top: 1em;
    left: 48%;
    width: 12em !important;
}

.containerDOSProyector{
    margin-left: -15%;
    margin-top: 26.6%;
}
.hello-RegisterPrestamo {
    font-size: 20px !important;
    color: white !important;
    line-height: 2.1875em !important;
    margin-top: 13px !important;
    border-bottom: 2px solid #ffffff !important;
}

.OptionsRegisterPrestamo {
    color: white !important;
    font-size: 20px;
    padding-left: 8%;
}
.FooterTrianguloLeftRegisterPrestamo {
    margin-top: -73%;
    height: 81.8%;
    padding-bottom: 80%;
    width: 70%;
    background: #fefe;
    -webkit-clip-path: polygon(0 60%, 0% 100%, 100% 100%);
    clip-path: polygon(0 60%, 0% 100%, 100% 100%);
}
.contenedor-loginRegisterPrestamo {
    left: 44%;
    position: relative;
    max-width: 50% !important;
    top: 3.5em;
}

.cardRegisterPrestamo{
    height: 41.5em !important;
    top: 3em;
    width: 70% !important;
    background: #6200EA;
    margin-top: -122% !important;
    -webkit-box-shadow: 0px 0px 15px rgb(41, 39, 39);
    box-shadow: 0px 0px 15px rgb(41, 39, 39);
}
.btn-formPrestamo{
    margin-top: -15%;
    margin-left: 22%;
}

.ant-calendar-picker{
    width: 100% !important
}

